<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>
        {{ page.title }} · {{ site.title }}
    </title>

    {% if page.section == "research" %}

        <link rel="stylesheet"
              href="{{ '/assets/css/research.css' | relative_url }}">

    {% elsif page.section == "fun" %}

        <link rel="stylesheet"
              href="{{ '/assets/css/fun.css' | relative_url }}">

    {% else %}

        <link rel="stylesheet"
              href="{{ '/assets/css/home.css' | relative_url }}">

    {% endif %}

</head>

<body>

{{ content }}

</body>

</html>
